@model DAL.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:99%">
    <h2>프로젝트 : @Model.ProjectName</h2>
    <table  border="1" align="center">
        <tr>
            <td colspan="4" align="center" valign="middle">PROJECT(공사명) : @Html.DisplayFor(model => model.ProjectName)</td>
            <td colspan="4" align="center" valign="middle">CLIENT(발주처) :  @Html.DisplayFor(model => model.ProjectClient)</td>
            <td colspan="4" align="center" valign="middle">CLASS(선급) :  @Html.DisplayFor(model => model.ProjectClass)</td>
            <td colspan="3" align="center" valign="middle">제작 착수일 : @Html.DisplayFor(model => model.StartDate)</td>
            <td colspan="2" align="center" valign="middle">제작 마감일 : @Html.DisplayFor(model => model.EndDate)</td>
            <td align="center" valign="middle">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="middle">구 분</td>
            <td colspan="5" align="center" valign="middle">물량 정보 (PC'S)</td>
            <td rowspan="3" align="center" valign="middle">총 잔량<br />(PC'S)</td>
            <td rowspan="3" align="center" valign="middle">공정율<br />%</td>
            <td colspan="4" align="center" valign="middle">일반관 생산 누계(PC'S)</td>
            <td colspan="4" align="center" valign="middle">선급관 생산 누계(PC'S)</td>
            <td rowspan="3" align="center" valign="middle">
                납기예정일<br />
                (TARGET)
            </td>
            <td rowspan="3" align="center" valign="middle"></td>
        </tr>
        <tr>
            <td rowspan="2" align="center" valign="middle">BLOCK</td>
            <td colspan="2" align="center" valign="middle">소 형</td>
            <td colspan="2" align="center" valign="middle">대 형</td>
            <td rowspan="2" align="center" valign="middle">소계</td>
            <td rowspan="2" align="center" valign="middle">소형</td>
            <td rowspan="2" align="center" valign="middle">대형</td>
            <td rowspan="2" align="center" valign="middle">소계</td>
            <td rowspan="2" align="center" valign="middle">잔량</td>
            <td rowspan="2" align="center" valign="middle">소형</td>
            <td rowspan="2" align="center" valign="middle">대형</td>
            <td rowspan="2" align="center" valign="middle">소계</td>
            <td rowspan="2" align="center" valign="middle">잔량</td>
        </tr>
        <tr>
            <td align="center" valign="middle">일반관</td>
            <td align="center" valign="middle">선급관</td>
            <td align="center" valign="middle">일반관</td>
            <td align="center" valign="middle">선급관</td>
        </tr>
        @foreach (var item in Model.Blocks)
        {
            <tr>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.BlockName)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.TargetSmallGen)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.TargetSmallSun)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.TargetBigGen)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.TargetBigSun)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.TargetTotalSum)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.RestedTotalSum)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.Percent)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.ProductGenSmall)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.ProductGenBig)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.ProductGenSum)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.ProductGenRested)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.ProductSunSmall)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.ProductSunBig)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.ProductSunSum)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.ProductSunRested)</td>
                <td align="center" valign="middle">@Html.DisplayFor(modelItem => item.TargetDate)</td>
                <td align="center">
                    <a class="btn btn-primary btn-xs" asp-controller="Blocks" asp-action="Edit" asp-route-id="@item.Id"><span style="font-size: 75%;">수정</span></a> |
                    <a class="btn btn-success" asp-controller="Blocks" asp-action="Details" asp-route-id="@item.Id">상세보기</a> |
                    <a class="btn btn-danger" asp-controller="Blocks" asp-action="Delete" asp-route-id="@item.Id">삭제</a>
                </td>
            </tr>
        }
        <tr>
            <td align="center" valign="middle">EVENT</td>
            <td colspan="17" align="center" valign="middle">@Html.DisplayFor(model => model.ProjectEvent)</td>
        </tr>
    </table>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">수정</a>
        <a asp-action="Index">뒤로가기</a>
    </div>
</div>
